.container {
  border: 2px solid black;
  margin-bottom: 20px;
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 65px;
}

#logoanchor {
  color: white;
}

#newPostLink {
  position: fixed;
  color: white;
  border: .5px solid black;
  margin-left: 60px;
  margin-top: 50px;
  width: 150px;
  height: 40px;
}

#content-container {
  display: flex;
}

#main-images {
  width: 300px;
  height: 250px;
}

#age_scale {
  width: 1000px;
}

.range-field {
  text-align: center;
  margin-bottom: none;
  padding-top:
}
 #center-age {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  margin-bottom: 0;
 }

#label {
  margin-bottom: 0;
}
