.container {
  margin-bottom: 20px;
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 65px;
}

#logoanchor {
  color: white;
}

#newPostLink {
  position: fixed;
  color: white;
  border: .5px solid black;
  margin-left: 35px;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  background-color: rgba(229, 57, 53, 1)
}

#editButton {
  position: fixed;
  color: white;
  border: .5px solid black;
  margin-left: 35px;
  margin-top: 115px;
  width: 150px;
  height: 40px;
}


#content-container {
  display: flex;
}

#main-images {
  width: 300px;
  height: 250px;
}

#age_scale {
  width: 1000px;
}

.range-field {
  text-align: center;
  margin-bottom: none;

}
 #center-age {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  margin-bottom: 0;
 }

#label {
  z-index: -1;
}

.card-content {
  margin-top: 100px;
}

#card-content-new {
  margin-top: 0;
}

#newPost {
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Railway', sans-serif;
  color: rgba(0, 0, 0, .6)
  ;
}

.row {
  margin: 0 auto;
}

.cardContainer {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.materials-icon {
  display: none;
}

.editHide {
  display: none;
}

#newPostLink2 {
  position: fixed;
  color: white;
  border: .5px solid black;
  margin-left: 60px;
  margin-top: 70px;
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

#description {
  font-weight: bold;
}

#editForm {
  width: 800px;
  height: 550px;
}

#editHeader {
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Railway', sans-serif;
  color: rgba(0, 0, 0, .6);
}

#editCard {
  margin-top: 20px;
}

#delete-button{
  margin-left: 750px;
  margin-top: -1040px;
}

#moveForm {
  margin-top: 50px;
}

#homeEdit {
  position: fixed;
  color: white;
  border: .5px solid black;
  margin-left: 60px;
  margin-top: 70px;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  background-color: black;
}
