<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <div class="col s12 m6 card-panel red darken-1 responsive-img" id="top-bar">
      <h5 id="logo"><span class="hoverable"><a id="logoanchor" href="/">wikiLife</a></span></h5>
    </div>

    <%# new post button%>
    <a class="btn-floating btn-large waves-effect waves-light red" id="newPostLink2" href="/">Home</a>

    <%# text above the form%>
    <div id="aboveForm">
      <h4 id="newPost">New Post</h4>
    </div>

    <form id="newPostForm" method="POST" action="/new">
      <div class="container margin-top-20">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-stacked">
                <div id="card-content-new" class="card-content">

                  <div class="input-field">
                    <input name="entry[title]" type="text" placeholder="Title" />
                  </div>

                  <div class="input-field">
                    <textarea name="entry[text]" placeholder="Entry Description" class="materialize-textarea"></textarea>
                  </div>

                  <div class="input-field">
                    <input name="entry[image]" type="text" placeholder="image url only" />
                  </div>

                  <div class="input-field">
                    <input name="entry[age]"
                    type="text"
                    placeholder="input age"
                    />
                  </div>

                  <div class="card-action">
                  <button type="submit" class="waves-effect waves-light btn">Submit Post</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </body>
</html>
