<div class="nav-wrapper">
  <a href="/partials" class="brand-logo">WikiLife</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/entries/new">post +</a></li>
  </ul>
</div>
